.ng-valid:not(form) {
  border-left: 5px solid #42A948; /* green */
}
.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}
ul
{
  list-style-type: none;
} 
li
{
  padding: 10px 5px;
  border: 1px solid black;
  display:inline-block;
  width: 50%;
}
p{
  margin-top: 10px;
  margin-bottom: 5px;
}
form div button
{
  margin-top: 8px;
}
.prenSelected
{
  border: 1px solid green;
  margin: 20px;
  padding: 20px;
}
ul div
{
  margin: 20px;
}
.btnpren
{
  margin: 10px;
}