<button (click)="triggerForm()" >{{aprtext}}</button>
<form [formGroup] = "nuovaPrenotazione" *ngIf="pren" (ngSubmit)="prenotazione()">
  <p>Nome: </p>
  <input type="text" [formControl]="nuovaPrenotazione.controls['nome']">
  <p>Cognome: </p>
  <input type="text" [formControl]="nuovaPrenotazione.controls['cognome']">
  <p>Ora inizio: </p>
  <input type="time" [formControl]="nuovaPrenotazione.controls['oraInizio']">
  <p>Ora fine: </p>
  <input type="time" [formControl]="nuovaPrenotazione.controls['oraFine']">
  <p>Data: </p>
  <input type="date" [formControl]="nuovaPrenotazione.controls['data']">
  <p>email: </p>
  <input type="email" [formControl]="nuovaPrenotazione.controls['email']">
  <p>Numero di telefono: </p>
  <input type="text" [formControl]="nuovaPrenotazione.controls['nTel']">
  <p>Indirizzo: </p>
  <input type="text" [formControl]="nuovaPrenotazione.controls['domicilio']">
  <p>Problema: </p>
  <input type="text" [formControl]="nuovaPrenotazione.controls['problema']">
  <button type="submit">Prenota!</button>
</form>
<div>
  <h2>Prenotazioni</h2>
  <ul>
    <li *ngFor="let a of prenotazioni"
    [class.selected]="a === ps"
    (click)="onSelect(a)">{{a.nome}}</li>
  </ul>
</div>
<app-rasoli-prenotazioni-view [prenSel]="prenSel" *ngIf="prenSel"></app-rasoli-prenotazioni-view>